<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Learn About Us</title>
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link rel="preload" href="./static/nexmoe3.css" as="style"/>
		<link rel="stylesheet" href="./static/nexmoe3.css"/>
		<link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
		<style>
			a[target="_blank"]::after {
				content: "↗";
			}
			#download::after {
				content: none;
			}
			article {
				padding: 2rem;
			}
			articlegrid {
				grid-template-columns: 1fr 1fr;
				grid-gap: 2rem;
				display: grid;
			}
			@media (max-width: 700px) {
				articlegrid {
					grid-template-columns: 1fr;
				}
			}
			mark {
				background-color: #FFD700;
				color: black;
			}
		</style>
    </head>
    <body style="background-color:#FCEED9">
		<nav class="nav-wrapper", style="padding: 25px; padding-top: 30px;">
			<a href="index.html">
				<h1 style="font-family: optima,serif;">
					<img src="http://www1.coe.neu.edu/Groups/blockchain/Genistreet/logo-final_Lighter.png" title = "return" width ="auto" height = "50" style="float: start">
					<b>GENISTREET</b>
				</h1>
			</a>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="form.html">Submit A Deed</a></li>
				<li><a href="SearchBlocks.html">Search A Record</a></li>
				<li>
					<a href="https://www.sec.state.ma.us/rod/rodidx.htm" target="_blank">Registry History</a>
					<ul>
						<li>
							<a href="https://www.masslandrecords.com/suffolk/" target="_blank">
								Info Site
							</a>
						</li>
						<li>
							<a href="https://massrods.com/suffolk/contact-and-directions/"
								target="_blank">
								Our Contacts
							</a>
						</li>
						<li>
							<a
								href="https://www.masslandrecords.com/suffolk/"
								target="_blank">Current Website</a>
						</li>
					</ul>
				</li>
				<li>
					<a checked href="AboutUs.html">
						About Us
					</a>
				</li>
			</ul>
		</nav>
		<main>
		<section>
			<header style="padding-top: 30px;">
				<h1>Meet the Team</h1>
				<i>We are a team of fourth year Industrial Engineering students at Northeastern University. Genistreet is our Capstone project, and it represents the cumulative skills learned over our last four years of college</i><br/><br/>
			</header>
			<article style="background-color:#fffbf4">
				<details>
					<summary><b>Sarah Simon </b><b><i>- Director of Software Development</i></b>
						<img src="http://www1.coe.neu.edu/Groups/blockchain/Genistreet/img/AboutUs/SS_Professional.jpg" title="Sarah" class ="summary-image" width ="100" height = "auto" style="float: inline-end"/>
					</summary>
				</details>
				<div>
					<p>
						<ul>
							<li>At Northeastern, Sarah is completing her Industrial Engineering BS with a minor in Mathematics.  After graduating Northeastern Sarah is heading to the Northwest joining Accelalpha as an Associate Consultant. The skills she has gained at Northeastern are comprehensively displayed in Genistreet and she is so excited to grow those skills in her next role.</li>
						</ul>
					</p>
				</div>
			</article>
			<br />
			<article style="background-color:#fffbf4">
				<details>
					<summary><b>Eliana Schlagman </b><b><i>- Director of Product Management</i></b>
						<img src="http://www1.coe.neu.edu/Groups/blockchain/Genistreet/img/AboutUs/ES_Professional.png" title="Eliana" class ="summary-image" width ="100" height = "auto" style="float: inline-start"/>
					</summary>
				</details>
				<div>
					<p>
					<ul>
							<li>At Northeastern, Eliana is completing her BS in Industrial Engineering and MS in Health Informatics. After graduation in December 2023, Eliana will remain in Boston, MA to join PricewaterhouseCoopers as a Mergers & Acquisitions Associate Consultant. She is grateful for the opportunities within the MEIE department and looking forward to continuing her education at Northeastern University for her Master’s degree.  </li>
						</ul>
					</p>
				</div>
			</article>
			<br />
			<article style="background-color:#fffbf4">
				<details>
					<summary><b>Sofia Mendoza </b><b><i>- Director of Business Operations</i></b>
						<img src="http://www1.coe.neu.edu/Groups/blockchain/Genistreet/img/AboutUs/SM_Professional.png" title="Sofia" class ="summary-image" width ="100" height = "auto" style="float: inline-start"/>
					</summary>
				</details>
				<div>
					<p>
						<ul>
							<li>Sofia is completing her BS in Industrial Engineering at Northeastern University. After graduation, Sofia is excitedly joining the team at Applied Materials as a Supplier Quality Engineer. She looks back at her college experience fondly and is proud of the work her team has accomplished with Genistreet.</li>
						</ul>
					</p>
				</div>
			</article>
			<br />
			<article style="background-color:#fffbf4">
				<details>
					<summary><b>Eva Justice </b><b><i>- Director of Web Development</i></b>
					<img src="http://www1.coe.neu.edu/Groups/blockchain/Genistreet/img/AboutUs/EJ_Professional.jpg" title="Eva" class ="summary-image" width ="100" height = "auto" style="float: inline-start"/>
					</summary>
				</details>
				<div>
					<p>
						<ul>
							<li>At the completion of this project, Eva will have graduated with her undergraduate degree in Industrial Engineering and a minor in Mathematics. Once Eva completes her time in the Undergraduate Program, she will be continuing at Northeastern to receive her Master of Science (MS) in Engineering Management through the accelerated Plus One Program. Her contributions throughout the project have displayed the genuine interest she brings to the area of Industrial Engineering and the outstanding quality of the program.</li>
						</ul>
					</p>
				</div>
			</article>
			<br/>
			<article style="background-color:#fffbf4">
				<details>
					<summary><b>Dylan Cohen </b><b><i>- Director of Development Operations</i></b>
						<img src="http://www1.coe.neu.edu/Groups/blockchain/Genistreet/img/AboutUs/DC_Professional.jpg" title="Dylan" class ="summary-image" width ="100" height = "auto" style="float: inline-start"/>
					</summary>
				</details>
				<div>
					<p>
						<ul>
							<li>Dylan is finishing his BS in Industrial Engineering at Northeastern before starting as a full-time Associate at PricewaterhouseCoopers in the Operations Transformation, Connected Supply Chain practice. Grateful for the education and opportunity afforded to him at Northeastern, Dylan looks back at his accomplishments proudly and looks forward to graduating and starting a career in New York City.</li>
						</ul>
					</p>
				</div>
			</article>
		</section>
		</main>
		<footer>
			<p>
				Made with ❤ from
				<a href="index.html">Your Favorite Capstone Group 4</a>
			</p>
			<p>
				<a href="https://coe.northeastern.edu/" target="_blank">Northeastern College of Engineering</a>
			</p>
		</footer>
    </body>
</html>
