<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Submit A Deed</title>
		<link rel="stylesheet" href="http://www1.coe.neu.edu/Groups/blockchain/PagesStart_Feb/nexmoe3.css">
		<link rel="preload" href="http://www1.coe.neu.edu/Groups/blockchain/PagesStart_Feb/nexmoe3.css" as="style" />
        <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="http://www1.coe.neu.edu/Groups/blockchain/blockchain_app/static/main.css">
        <style>
			a[target="_blank"]::after {
				content: "↗";
			}
			#download::after {
				content: none;
			}
			article {
				padding: 2rem;
			}
			articlegrid {
				grid-template-columns: 1fr 1fr;
				grid-gap: 2rem;
				display: grid;
			}
			@media (max-width: 700px) {
				articlegrid {
					grid-template-columns: 1fr;
				}
			}
			mark {
				background-color: #FFD700;
				color: black;
			}
		</style>
    </head>
    <body style="background-color:#FCEED9">
        <nav class="nav-wrapper", style="padding: 40px; padding-top: 60px;">
			<a href="http://www1.coe.neu.edu/Groups/blockchain/PagesStart_Feb/StartPage.html">
				<h1 style="font-family: optima, serif;">
					<img src="logo-final_Lighter.png" title = "return" width ="auto" height = "50" style="float: start">
					GENISTREET
				</h1>
			</a>
			<ul>
				<li><a href="http://www1.coe.neu.edu/Groups/blockchain/PagesStart_Feb/StartPage.html">Home</a></li>
				<li>
                    <a checked href="http://www1.coe.neu.edu/Groups/blockchain/blockchain_app/templates/form.html">
                        Submit A Deed
					</a>
					<ul>
						<li>
							<a  href="http://www1.coe.neu.edu/Groups/blockchain/PagesStart_Feb/SearchPage.html">
                                Search A Record
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="https://www.sec.state.ma.us/rod/rodidx.htm">Registry History</a>
					<ul>
						<li>
							<a href="https://www.masslandrecords.com/suffolk/" target="_blank">
								Info Site
							</a>
						</li>
						<li>
							<a href="https://massrods.com/suffolk/contact-and-directions/" target="_blank">
								Our Contacts
							</a>
						</li>
						<li>
							<a
								href="https://www.masslandrecords.com/suffolk/"
								target="_blank">Current Website</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="https://coe.northeastern.edu/Groups/blockchain/PagesStart_Feb/AboutUs.html">
						About Us
					</a>
				</li>
			</ul>
        </nav>
		<hr/>
        <main style="padding-top: 50px">
            <form method="post">
                <h1>Register a Deed</h1>
                <fieldset> <!-- logical grouping -->
                    <legend><span class = "number">1</span>Guarantor Info</legend>
                
                    <label for = "name">First Name: </label> <!-- for attribute associate with the particular id attribute, it will click to get focused -->
                    <input type = "text" id='name' name="guarantor_fname"> <!-- self clsoing tag -->
                    
                    <label for = "name">Last Name: </label>  
                    <input type = "text" id='name' name="guarantor_lname">

                    <legend><span class = "number">2</span>Guarantee Info</legend>
                
                    <label for = "name">First Name: </label> <!-- for attribute associate with the particular id attribute, it will click to get focused -->
                    <input type = "text" id='name' name="guarantee_fname"> <!-- self clsoing tag -->
                    
                    <label for = "name">Last Name: </label>  
                    <input type = "text" id='name' name="guarantee_lname">

                    <legend><span class = "number">3</span>Property Transaction Info</legend>
                
                    <label for = "address">Address: </label> <!-- for attribute associate with the particular id attribute, it will click to get focused -->
                    <input type = "text" id='address' name="address"> <!-- self clsoing tag -->
                    
                    <label for = "city">City: </label>  
                    <input type = "text" id='city' name="city">
                    <label for = "state">State: </label>  
                    <input type = "text" id='state' name="state">
                    <label for = "consideration">Consideration: </label>  
                    <input type = "text" id='consideration' name="consideration">
                    
                    <legend><span class = "number">4</span>Attach File(s)</legend>
                    
                    <input type="file" id="file" name="file">
                    <span class="file-custom"></span>
                </fieldset>
                <button type ="submit" name="send_form" value="submit"> Submit </button>  <!-- form is not complete without a submit button-->
            </form>
        </main>
    </body>
</html>


<!-- no forms inside another form. action is where this form sends to
method post is corresponding to the HTTP POST method, where the data in the form sent or posted to the server, like submitted
method get is corresponding to the HTTP GET method where is seperated with ? in URL -->

<!--input types are quite a few like text, password, email.
    id is helpful to target the element on css or javascript.
    name is needed so when a form is submitted to server-side code, the server can understand the form data and process the values appropriately. -->




