<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up Form</title>
        <link rel="stylesheet" href="/static/normalize.css">
        <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
      <form method="post">  
        <h1>Register a Deed</h1>

    <fieldset> <!-- logical grouping -->
        <legend><span class = "number">1</span>Gaurantor Info</legend>
       
        <label for = "name">First Name: </label> <!-- for attribute associate with the particular id attribute, it will click to get focused -->
        <input type = "text" id='name' name="gaurantor_fname"> <!-- self clsoing tag -->
        
        <label for = "name">Last Name: </label>  
        <input type = "text" id='name' name="guarantor_lname">

        <legend><span class = "number">2</span>Gaurantee Info</legend>
       
        <label for = "name">First Name: </label> <!-- for attribute associate with the particular id attribute, it will click to get focused -->
        <input type = "text" id='name' name="gaurantee_fname"> <!-- self clsoing tag -->
        
        <label for = "name">Last Name: </label>  
        <input type = "text" id='name' name="guarantee_lname">

        <legend><span class = "number">3</span>Property Transaction Info</legend>
       
        <label for = "address">Address: </label> <!-- for attribute associate with the particular id attribute, it will click to get focused -->
        <input type = "text" id='address' name="address"> <!-- self clsoing tag -->
        
        <label for = "city">City: </label>  
        <input type = "text" id='city' name="city">
        <label for = "state">State: </label>  
        <input type = "text" id='state' name="state">
        <label for = "zip">Zip: </label>  
        <input type = "text" id='zip' name="zip">
        <label for = "consideration">Consideration: </label>  
        <input type = "text" id='consideration' name="consideration">
        
        <legend><span class = "number">4</span>Attach File(s)</legend>
        
        <input type="file" id="file" name="file">
        <span class="file-custom"></span>
        
                
              

    </fieldset>

        
    <button type ="submit" name="send_form" value="submit"> Submit </button>  <!-- form is not complete without a submit button-->
    
    </form>
    </body>
</html>


<!-- no forms inside another form. action is where this form sends to
method post is corresponding to the HTTP POST method, where the data in the form sent or posted to the server, like submitted
method get is corresponding to the HTTP GET method where is seperated with ? in URL -->

<!--input types are quite a few like text, password, email.
    id is helpful to target the element on css or javascript.
    name is needed so when a form is submitted to server-side code, the server can understand the form data and process the values appropriately. -->




